:root {
    /* Colors taken from the Domino's website. */
    --DomiWhite: #ffffff;
    --DomiBlue: #006491;
    --DomiRed: #e31837;
}

.bg-blue{
    background-color: var(--DomiBlue);
}
.text-blue{
    color:var(--DomiBlue);
}
.bg-red{
    background-color: var(--DomiRed);
}
.text-red{
    color:var(--DomiRed);
}
.bg-white{
    background-color: var(--DomiWhite);
}
.text-white{
    color:var(--DomiWhite);
}



.top-buffer{
    margin-top: 100px;
}

.carousel-item{
    z-index: -1;
}

.carousel-background-gradient {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }
  
  .carousel-logo-width {
    width: 40vw;
  }

.kaushan-script-regular {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
  